[Desktop Entry]
Name=AltServer
Exec=/usr/lib/altserver-linuxgui/altserver-linuxgui
Icon=/usr/share/icons/altserver-linuxgui.ico
Terminal=false
Type=Application
Categories=Application
Name[en_US]=AltServer
