Package: AltServerLinux
Name: AltServerLinuxGUI
Version: 0.1.7
Architecture: all
Author: powen <powen0966091716@gmail.com>
Maintainer: powen <powen0966091716@gmail.com>
Description: GUI for AltServerLinux
Homepage: https://github.com/powenn/AltServer-LinuxGUI
